{{#partial "content"}}

    <h1>Add a new Hike!</h1>

    <form action="/hikes/new" method="post">
        <label for="name"> Name </label>
        <input id="name" name="name" type="text">
        <label for="hikeLength"> Hike Length (in miles) </label>
        <input id="hikeLength" name="hikeLength" type="number">
        <label for="state"> State </label>
        <input id="state" name="state" type="text">
        <button type="submit" class="btn btn-success">Add Hike</button>
    </form>
{{/partial}}

{{> layout.hbs}}
