{{#partial "content"}}

    <p><strong> Name:</strong> {{visitor.name}}</p>

    <a href="/visitors/{{visitor.id}}/update"><button class = "btn btn-info">Edit Visitor</button></a>

    <a href="/visitors/{{visitor.id}}/delete"><button class = "btn btn-danger">Delete Visitor</button></a>


{{/partial}}