

.decor {
  background-color: white;
  font-style: normal;
  font-family: sans-serif;
}

.color1 {
  color: rgba(0, 0, 255, 0.5);
  font-style: italic;
}
.color2 {
  color: rgba(255, 0, 0, 0.5);
  font-style: italic;

}
